.statistics
  display flex
  justify-content space-between
  align-items center
  border 1px solid #e4e4e4
  border-radius 4px

  li
    flex 1
    border-left 1px solid #e4e4e4
    cursor pointer
    max-width 320px
    max-height 108px
    position relative
    &.visible
      background #f4f4f4
    &:first-child
      border-left none
    h3, .description
      margin-left 10px
      margin-bottom 0
    h3
      margin-top 10px
      font-size 14px
      font-weight 500
      color #666
    .description
      font-size 12px
      color #999
    .number
      position absolute
      top 44px
      left 8px
      display inline-block
      font-size 30px
      color #666
      font-weight 400

.history-wrapper
  .monthlyTitle, .watermelonTitle, .todosTitle
    display none
  .visible
    display block
