.todo-item
  display flex

  .editing
    display flex
    justify-content space-between
    align-items center
    width 100%

  input[type='text']
    flex 1 1 auto
    border none
    background transparent
